# Loading the dataframes

In [1]:
import pandas as pd
import matplotlib as plt
import seaborn as sns
import random

In [4]:
pokemon = pd.read_csv("pokemon.csv")
pokemon = pokemon.rename(index=str, columns={"#": "Number"})

combat = pd.read_csv("combats.csv")
pokemon.head()

,Number,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,4,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,5,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [7]:
combat.head()

   First_pokemon  Second_pokemon  Winner
0            266             298     298
1            702             701     701
2            191             668     668
3            237             683     683
4            151             231     151

In [8]:
print(f"Dimensions of pokemon: {pokemon.shape}")
print(f"Dimensions of pokemon: {combat.shape}")

Dimensions of pokemon: (800, 12)
Dimensions of pokemon: (50000, 3)